    
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12  col-sm-12 col-lg-6 first"> 
            <!-- <button class="btn btn-warning" (click)="applyFilter(2)">Warning</button> -->
            <h1>WE HAVE</h1>
            
                <div class="card-title transform-box">TRANSFORMED</div>
            
        </div>             
                                                 
        <div class="col-md-6 col-sm-6 col-lg-6 sec">
              <div class="col-12">
                 <div class="card">

                    <div class="card-body">
                           
                           <h2 class="number">3456</h2>
                           <h2 class="label">STUDENTS</h2>
                    </div> 
   
                 </div>
              </div>  
              <div class="col-12">
                <div class="card">
                    <div class="card-body">
                          <h2 class="sword">from</h2>                        
                          <h2 class="number">250</h2>
                          <h2 class="label">COLLEGES</h2>
                   </div> 
  
                </div>
              </div>  
              <div class="col-12">
                <div class="card">
                    <div class="card-body">
                          <h2 class="sword">Across</h2>
                          <h2 class="number">23</h2>
                          <h2 class="label">STATES</h2>
                   </div> 
  
                </div>
              </div>   
        </div>  
        <div class="col-md-3 col-sm-6 sec">
                 
        </div>               
    </div>
</div>
